*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #EAF0F6;
  color: #33475B;
}
ul li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: #33475B;
}
p{
  line-height: 1.6;
}
h4{
  font-size: 25px;
}
h5{
  font-size: 18px;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.mini-container{
  width: 80%;
  margin: 0 auto;
}
.btn{
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 8px 10px;
}
.white{
  color: #FF7A59;
  background-color: white;
  border: 1px solid #FF7A59;
  padding: 7px 9px;
}
.orange{
  background-color: #FF7A59;
}
.blue{
  background-color: white;
  color: #2D3E50;
}
.large{
  padding: 20px 30px;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
/* header */
header{
  display: unset;
}
.header-top{
  background-color: #EAF0F6;
  border-bottom: 1px solid #33475B;
}
.inner-header-top-left{
  width: 50%;
  padding: 30px 0;
}
.inner-header-top-left ul li{
  margin: 0 10px;
}
.inner-header-top-left ul li:first-child{
  border-right: 1px solid #33475B;
  padding-right: 20px;
}
.inner-header-top-right{
  width: 50%;
  padding: 30px 0;
  text-align: right;
}
.inner-header-top-right .search-icon a{
  color: rgb(0, 191, 203);
}
.inner-header-top-right div{
  display: inline-block;
  margin: 0 10px;
}

/* header bottom */
.header-bottom{
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}
.inner-header-bottom-left{
  width: 50%;
}
.logo{
  position: relative;
  height: 80px;
}
.inner-header-bottom-left img{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.inner-header-bottom-right{
  width: 50%;
  line-height: 80px;
  text-align: right;
}
.inner-header-bottom-right ul li{
  margin: 0 10px;
}
/* jumbotron */
.jumbotron{
  height: 525px;
  width: 100%;
  background-color: #FFF4EE;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right;
  border-bottom: 3px solid #33475B;
}
.jumbotron h1{
  font-size: 50px;
  padding: 20px 0;
}
.jumbotron p{
  line-height: 1.6;
  padding: 20px 0;
}
.jumbotron .button{
  padding: 20px 0;
}
.jumbotron .small{
  font-size: 12px;
}
/* main */
.blank{
  height: 100px;
  background-color: #74DCCF;
  border-bottom: 3px solid #33475B;
}
.stack{
  text-align: center;
  padding: 40px 0;
}
.stack img{
  width: 20%;
  padding: 20px 0;
}
.stack h2{
  padding: 20px 0;
  font-size: 35px;
}
.stack p{
  padding-top: 20px;
  margin: 0 300px;
}
.box{
  margin-top: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.crm-left{
  width: 30%;
  text-align: center;
}
.crm-left img{
  padding: 50px 0;
  width: 40%;
}
.crm-right{
  width: 70%;
  padding: 80px 0;
  text-align: left;
}
.crm-right h5{
  margin-top: 20px;
}
.crm-right h5::after{
  content: '';
  display: inline-block;
  height: 2px;
  margin: 5px 20px;
  background-color: #33475B;
  width: 40%;
}
.crm-right p{
  margin-top: 20px;
}
.crm-right ul{
  margin-top: 20px;
}
.crm-right ul li{
  margin-right: 15px;
}
.fa-check-circle{
  color: #FF7A59;
  margin-right: 10px;
}
.inner-hub{
  width: calc(100% / 3 - 26.7px);
  text-align: center;
}
.inner-hub-top{
  height: 300px;
}
.middle{
  margin: 30px 40px 0;
}
.middle .inner-hub-top{
  padding-top: 20px;
}
.inner-hub img{
  width: 30%;
  margin: 20px 0;
}
.inner-hub h4{
  margin: 20px 0;
}
.inner-hub p{
  margin: 20px 0;
}
.inner-hub hr{
  margin: 40px 0;
  border: none;
    height: 2px;
    background-color: #33475B;
}
.inner-hub ul{
  margin: 20px 0;
}
.inner-hub ul li{
  display: block;
  text-align: left;
}
.inner-hub h4{
  margin: 10px 0;
}
.inner-hub .button{
  margin: 50px 0;
}
.table{
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  margin-top: 30px;
  padding: 50px 0;
  color: white;
  text-align: center;
}
.table h2{
  font-size: 35px;
  margin-bottom: 20px;
}
.table p{
  margin-bottom: 40px;
}
.row{
  border-bottom: 1px solid white;
}
.row.last{
  border-bottom: none;
  margin-bottom: 40px;
}
.col{
  width: calc(100% / 4);
  text-align: center;
  padding: 10px 0;
  border-right: 1px solid white;
}
.col img{
  margin-top: 10px;
  height: 33px;
}
.col h2{
  margin-top: 10px;
}
.col h2::after{
  content: '+';
}
.col p{
  margin-top: 10px;
}
.col.last{
  border-right: none;
}
/* inizio sezione partners */
.partners{
  padding: 40px 0;
}
.small-container{
  width: 60%;
  margin: auto;
}
.inner-partners-left{
  width: 40%;
  text-align: left;
  padding: 30px 30px 0 0;
}
.inner-partners-left h2{
  margin-bottom: 20px;
  font-size: 40px;
}
.inner-partners-left p{
  margin-bottom: 20px;
  font-size: 18px;
}
.inner-partners-right{
  width: 60%;
  text-align: center;
}
.row-img{
  height: 100px;
}
.row-img .partner-img{
  width: calc(80% / 4);
  height: 100%;
  margin: 10px;
}
#wwf{
  background-image: url('https://f.hubspotusercontent00.net/hubfs/53/1200px-WWF_logo_svg%20(1).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#trello{
  background-image: url('https://f.hubspotusercontent00.net/hubfs/53/trello-logo-blue%20(1).png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#g-due{
  background-image: url('https://f.hubspotusercontent00.net/hubfs/53/1200px-G2_Crowd_logo.svg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#survey-monkey{
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/homepage/Vertical_Sabaeus_RGB.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#subaru{
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Subaru_Logo_v2_186x63@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#soundcloud{
  background-image: url('https://f.hubspotusercontent00.net/hubfs/53/soundcloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#classpass{
  background-image: url('https://www.hubspot.com/hubfs/assets/hubspot.com/home/home_page_logos_June_2019/Classpass-logo@2x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
#vmware{
  background-image: url('https://storage.googleapis.com/ldo3-files-prod/uploads/asset/custom_client_logo/3970/VMware_logo_4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* inizio today */
.today{
  padding: 30px 0;
}
.inner-today-left{
  text-align: left;
  padding: 30px 0;
  width: 60%;
}
.inner-today-left h2{
  margin-bottom: 15px;
  font-size: 35px;
}
.inner-today-left p{
  margin-bottom: 15px;
}
.inner-today-left .button{
  margin-bottom: 15px;
  padding: 40px 0;
}
.inner-today-left .today-small{
  margin-bottom: 15px;
  font-size: 12px;
}
.inner-today-right{
  background-image: url('../img/woman.webp');
  width: 40%;
  height: 350px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
/* footer */
footer{
  padding: 20px 0;
  background-color: #2D3E50;
}
footer a:hover{
  color: #00a4bd;
}
.footer-top{
  padding-top: 20px;
}
table{
  width: 110%;
  padding-bottom: 40px;
}
table tr th{
  color: white;
  text-align: left;
  padding-bottom: 20px;
}
table tr td{
  padding-bottom: 15px;
}
table tr td a{
  color: white;
  text-align: left;
}
table tr td .btn:hover{
  color: #2D3E50;
}
table tr td a i{
  margin-right: 27px;
}
.footer-middle ul{
  text-align: center;
}
.footer-middle ul li a{
  color: white;
  margin-right: 15px;
}
.footer-middle ul li a:hover{
  color: #00a4bd;
}
.footer-middle hr{
  margin: 20px 0;
}
.footer-bottom{
  padding-bottom: 20px;
}
.footer-bottom-left{
  width: 50%;
}
.footer-bottom-left p{
  color: white;
}
.footer-logo{
  position: relative;
  height: 50px;
}
.footer-bottom-left img{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.footer-bottom-right{
  width: 50%;
  line-height: 50px;
  text-align: right;
}
.footer-bottom-right ul li a{
  color: white;
  margin-left: 15px;
}
.footer-bottom-right ul li a:hover{
  color: #00a4bd;
}
